<%- include('partials/header.ejs') %>

<h1>Home</h1>
<p> <%= startingContent %> </p>

<% for( let index = 0; index < postArray.length; index++ ) { %>
  <% console.log(postArray[index].title); %> 
<% } %>

<%- include('partials/footer.ejs') %>
