<%- include('partials/header.ejs') %>

<h1>Home</h1>
<p> <%= startingContent %> </p>

<% postArray.forEach( function (post) { %>
  <% console.log(post.Title); %> 
<% }); %>

<%- include('partials/footer.ejs') %>
